body {
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display:flex;
    flex-direction: column;
    min-height: 100vh;
}
.container{
    flex:1;
}

.navbar {
    height: 4.5rem;
    background-color: white;
}

.fa-compass {
    font-size: 2rem;
}

.footer-info-links a {
    text-decoration: none;
    color: #222222;
}

.footer-info-links a:hover {
    text-decoration: underline;
}

.footer-info-links,
.footer-info-socials,
.footer-info-brand {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}



.footer-info-socials i {
    font-size: 1.25rem;
}

.footer-info {
    text-align: center;
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: space-evenly;
}

.listing-card {
    border: none !important;
    width: 25rem !important;
    margin-bottom: 1rem;
}

.card-img-top {
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body {
    padding: 0 !important;
}

.card-text p {
    font-weight: 400 !important;
}

.lisitng-link{
    text-decoration: none;
}

.card-img-overlay{
    opacity: 0;
}

.card-img-overlay:hover{
    background-color: white;
    opacity:0.2;
}

.edt-btn{
    background-color: #fe424d !important;
    border:none !important;
}

.show-img{
    height: 30vh;
}

.btns{
    display:flex;
}

.show-card{
    padding-left:0;
    padding-right:0;
}

#map{
    height:400px;
    width:80vh;
}